.menubtn-container{
    --icon_color: rgb(0, 204, 255);
    --icon_height: 6px;
    --icon_width: 40px;
    --icon_transition_time: .5s;

    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid rgb(81, 255, 0);

    background-color: lightseagreen; */
}

.menubtn-burger{
    width: var(--icon_width);
    height: var(--icon_height);
    background: var(--icon_color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all var(--icon_transition_time) ease-in-out;
  }
  .menubtn-burger::before,
  .menubtn-burger::after {
    content: '';
    position: absolute;
    width: var(--icon_width);
    height: var(--icon_height);
    background: var(--icon_color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all var(--icon_transition_time) ease-in-out;
  }
  .menubtn-burger::before {
    transform: translateY(-16px);
  }
  .menubtn-burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menubtn-container.open .menubtn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menubtn-container.open .menubtn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menubtn-container.open .menubtn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }